@media only screen and (max-width: 767px) {
    .numone{
        background-size: cover;
        height:100%;
        width: 100%;
        opacity: 0.8;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .numone{
        background-size: cover;
        height:100%;
        width: 100%;
        opacity: 0.8;
}
}
body{
    color: white;
    margin: 0;
}
.fixed{
    padding:0;
    margin: 0;
    text-align: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}
.blue{
    background-image: linear-gradient(to left,rgb(37, 37, 110),rgb(12, 12, 34));
    padding: 5px;
}
span{
    font-size:medium;
    font-weight: lighter;
}
ul{
    list-style: none;
    display: flex;
    align-content: center;
    margin-right: 25rem;
    margin-top: 0;
}
li{
    padding: 10px;
    color: black;
    font-weight: bolder;
}
li:hover{
    background-color: grey;
}
.single{
    margin-right: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.center{
    text-align: center;
    z-index: 1;
}
.bottom{
    bottom: 20px;
    text-align: center;
    margin-left: 25rem;
    position: fixed;
}
button{
    padding: 10px;
}
.btn-1{
    background-color: rgb(71, 67, 67);
}
.btn-2{
    background-color: white;
    color: black;
}
.numone{
    background-image: url(carter-baran-t5mV5TBzu4s-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.first-shift{
    background-image: url(second.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    position: relative;
}
.second-shift{
    background-image: url(bram-van-oost-4xM5cytsdMo-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.third-shift{
    background-image: url(fourth.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.fourth-shift{
    background-image: url(charlie-deets-AkgALppFIwo-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.fifth-shift{
    background-image: url(istockphoto-513301978-1024x1024.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.sixth-shift{
    background-image: url(istockphoto-513301978-1024x1024.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.seven{
    background-image: url(Homepage-Powerwall-Desktop.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.eight{
    background-image: url(last.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
